/** @format */

#header {
	width: 100vw;
	height: 60px;
	background-color: #a1a1a1;
	background-clip: border-box;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	align-items: center;
}

.left-col {
	display: flex;
	flex: 0.5;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.right-col {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.nav-item {
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 1;
}
