/** @format */

#header {
	width: 100vw;
	height: 60px;
	background-color: #a1a1a1;
	background-clip: border-box;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
}

.nav-item {
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: ;
}
