/** @format */

#header {
	width: 100vw;
	height: 60px;
	background-color: #25373d;
	background-clip: border-box;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	align-items: center;
	justify-content: space-around;
	padding: 0 20px;
}

.left-col {
	display: flex;
	flex: 2;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.right-col {
	display: flex;
	flex: 3;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.nav-item {
	width: 60px;
	height: 60px;
	padding: 22px 0;
	text-align: center;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}
