/** @format */
.ml {
	margin-left: 10px;
}

.mr {
	margin-right: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row > * {
	width: 100%;
	max-width: 100%;
	flex-shrink: 0;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

#header {
	width: 100vw;
	height: 60px;
	background-color: #60646d;
	background-clip: border-box;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 20px;
}

.nav-item {
	width: 70px;
	height: 60px;
	padding: 22px 0;
	text-align: center;
}

.left-col {
	display: flex;
	flex: 2;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.right-col {
	display: flex;
	flex: 3;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#main {
	margin-top: 60px;
}

#main,
#footer {
	padding: 32px;
}

#banner {
	width: 100%;
	background-color: #fff;
	color: #000;
	position: relative;
	top: 0;
	left: 0;
}

div[class*="-heading"] {
	padding: 28px 0;
	font-size: 24px;
}

div[class*="-desc"] {
	padding: 16px 0;
}

#img-list {
	width: 100%;
}

#img-list .img-list-wrapper {
	padding: 24px 0;
	margin: 0 auto;
}

#img-list img {
	width: 100%;
	margin-top: 28px;
}
