
/* ========responsive for tablet============== */

@media screen and (min-width: 768px) {
	#header {
		background-color: #60646d;
	}

	.nav-bar {
		padding: 0 28px;
	}

	.left-col {
		justify-content: flex-start;
	}

	.right-col {
		justify-content: flex-end;
	}

	.ml {
		margin-left: 14px;
	}

	.mr {
		margin-right: 14px;
	}

	.img-list-wrapper {
		margin: 0 -24px;
	}

	.col-tablet-1 {
		width: 8.33%;
	}
	.col-tablet-2 {
		width: 16.66%;
	}
	.col-tablet-3 {
		width: 25%;
	}
	.col-tablet-4 {
		width: 33.33%;
	}
	.col-tablet-5 {
		width: 41.66%;
	}
	.col-tablet-6 {
		width: 50%;
		padding: 0 24px;
	}
	.col-tablet-7 {
		width: 58.33%;
	}
	.col-tablet-8 {
		width: 66.66%;
	}
	.col-tablet-9 {
		width: 75%;
	}
	.col-tablet-10 {
		width: 83.33%;
	}
	.col-tablet-11 {
		width: 91.66%;
	}
	.col-tablet-12 {
		width: 100%;
	}

	#footer p {
		padding-top: 0;
	}

	#main {
		padding-bottom: 0;
	}

	#footer {
		padding-top: 0;
	}

	.footer-block {
		margin-top: 32px;
	}

	#banner {
		border-bottom: 1px solid #d4d4d4;
	}

	div[class*="-desc"] {
		padding-bottom: 32px;
	}

	#img-list {
		margin-top: -56px;
	}
}

/* ========responsive for desktop */

@media screen and (min-width: 992px) {
	#header {
		background-color: #fff;
		box-shadow: 0 0 10px gray;
	}

	.nav-bar {
		padding: 0 50px;
	}

	.left-col {
		justify-content: flex-start;
	}

	.right-col {
		justify-content: flex-end;
	}

	.ml {
		margin-left: 18px;
	}

	.mr {
		margin-right: 18px;
	}

	.nav-bar a {
		color: #000;
	}
	
	.col-desktop-1 {
		width: 8.33%;
	}
	.col-desktop-2 {
		width: 16.66%;
	}
	.col-desktop-3 {
		width: 25%;
	}
	.col-desktop-4 {
		width: 33.33%;
		padding: 0 16px;
	}
	.col-desktop-5 {
		width: 41.66%;
	}
	.col-desktop-6 {
		width: 50%;
	}
	.col-desktop-7 {
		width: 58.33%;
	}
	.col-desktop-8 {
		width: 66.66%;
	}
	.col-desktop-9 {
		width: 75%;
	}
	.col-desktop-10 {
		width: 83.33%;
	}
	.col-desktop-11 {
		width: 91.66%;
	}
	.col-desktop-12 {
		width: 100%;
	}

	#main {
		margin-top: -32px;
	}

	#banner {
		padding-top: 39.123607%;
		background: url(../img/banner/banner.png) top center / cover no-repeat;
		background-origin: border-box;
		border: none;
	}

	.banner-wrapper {
		position: absolute;
		top: 160px;
		left: 56px;
	}

	#banner > * {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	#banner .content-heading {
		font-size: 28px;
	}

	#banner .content-desc {
		font-size: 24px;
	}

	.white-text {
		color: #fff;
	}

	#section,#img-list {
		background-color: #e7e7e7;
		background-clip: border-box;
	}

	#section {
		margin-top: 0;
	}

	#img-list .img-list-wrapper {
		margin-left: -16px;
		margin-right: -16px;
	}

	#img-list img {
		width: 100%;
		margin-top: 16px;
	}

	#section,#img-list{
		padding : 32px;
	}

	.footer-wrapper {
		padding: 32px;
		background-color: #ccc;
	}







