/** @format */

@media screen and (min-width: 768px) {
	#header {
		background-color: #aab69b;
	}

	.nav-bar {
		padding: 0 28px;
	}

	.left-col {
		justify-content: flex-start;
	}

	.right-col {
		justify-content: flex-end;
	}
}

@media screen and (min-width: 992px) {
	#header {
		background-color: #fff;
	}

	.nav-bar {
		padding: 0 50px;
	}

	.nav-bar a {
		color: #000;
	}
}
