/** @format */

@media screen and (min-width: 768px) {
	#header {
		background-color: #aab69b;
	}
}

@media screen and (min-width: 992px) {
	#header {
		background-color: #fff;
	}

	.nav-bar a {
		color: #000;
	}
}
