/** @format */

/* ========responsive for tablet */

@media screen and (min-width: 768px) {
	#header {
		background-color: #87766c;
	}

	.nav-bar {
		padding: 0 28px;
	}

	.left-col {
		justify-content: flex-start;
	}

	.right-col {
		justify-content: flex-end;
	}

	.ml {
		margin-left: 14px;
	}

	.mr {
		margin-right: 14px;
	}

	.col-tablet-1 {
		width: 8.33%;
	}
	.col-tablet-2 {
		width: 16.66%;
	}
	.col-tablet-3 {
		width: 25%;
	}
	.col-tablet-4 {
		width: 33.33%;
	}
	.col-tablet-5 {
		width: 41.66%;
	}
	.col-tablet-6 {
		width: 50%;
	}
	.col-tablet-7 {
		width: 58.33%;
	}
	.col-tablet-8 {
		width: 66.66%;
	}
	.col-tablet-9 {
		width: 75%;
	}
	.col-tablet-10 {
		width: 83.33%;
	}
	.col-tablet-11 {
		width: 91.66%;
	}
	.col-tablet-12 {
		width: 100%;
	}
}

/* ========responsive for desktop */

@media screen and (min-width: 992px) {
	#header {
		background-color: #fff;
		box-shadow: 0 0 10px gray;
	}

	.nav-bar {
		padding: 0 50px;
	}

	.left-col {
		justify-content: flex-start;
	}

	.right-col {
		justify-content: flex-end;
	}

	.ml {
		margin-left: 18px;
	}

	.mr {
		margin-right: 18px;
	}

	.nav-bar a {
		color: #000;
	}

	.col-desktop-1 {
		width: 8.33%;
	}
	.col-desktop-2 {
		width: 16.66%;
	}
	.col-desktop-3 {
		width: 25%;
	}
	.col-desktop-4 {
		width: 33.33%;
	}
	.col-desktop-5 {
		width: 41.66%;
	}
	.col-desktop-6 {
		width: 50%;
	}
	.col-desktop-7 {
		width: 58.33%;
	}
	.col-desktop-8 {
		width: 66.66%;
	}
	.col-desktop-9 {
		width: 75%;
	}
	.col-desktop-10 {
		width: 83.33%;
	}
	.col-desktop-11 {
		width: 91.66%;
	}
	.col-desktop-12 {
		width: 100%;
	}
}
