/**
 * /* ======reset css======
 *
 * @format
 */

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #000;
}

html {
	font-family: "Helvetica Neue", Helvetica, Arial;
}

#web-container {
	min-width: 385px;
	width: auto !important;
	width: 385px;
}

.header-wrapper {
	font-size: 16px;
}

.nav-bar a {
	color: #fff;
	text-transform: uppercase;
}
