/**
 * /* ======reset css======
 *
 * @format
 */

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #000;
}

html {
	font-family: "Helvetica Neue", Helvetica, Arial;
}

.header-wrapper {
	font-size: 16px;
	display: block;
}

.nav-bar a {
	color: #fff;
	line-height: 16px;
}

.ml-20px {
	margin-left: 20px;
}
