

/* ======reset css====== */

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

html {
	font-family: "Helvetica Neue", Helvetica, Arial;
	color: #000;
}


#header {

}
.header-wrapper {
	width: 100%;
	height: 56px;

	background-color: #60646d;
	background-clip: border-box;
	font-size : 16px;
	text-transform: uppercase;

	padding: 0px 24px;
}
