/**
 * /* ======reset css======
 *
 * @format
 */

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #000;
}

html {
	font-family: "Helvetica Neue", Helvetica, Arial;
}

#header {
	width: 100vw;
	height: 56px;
	background-color: #60646d;
	background-clip: border-box;
}

.header-wrapper {
	font-size: 16px;
	padding: 20px 36px;
	display: block;
}

.nav-bar a {
	color: #fff;
}
