/** @format */

/* ======reset css====== */

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

html {
	font-family: "Helvetica Neue", Helvetica, Arial;
	color: #000;
}

.header-wrapper {
	width: 100%;
	height: 56px;
	display: flex;
	background-color: #60646d;
	background-clip: border-box;

	padding: 0px 24px;
}
